$navbar-default-bg: black;

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('food_image_for_home_page.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  mergin-bottom: 30px;
  letter_spacing: -1px;
  font-weight: bold;
}

#signUpLink {
  font-size: 1.7em;
  background-color: black;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea ;
  color: #777;
 }
footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  mergin-left: 15px;
}
@import "bootstrap-sprockets";
@import "bootstrap";